* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
}

header{
  height: 90px;
  background-color: blue;
  margin-bottom: 30px;
}

header nav {
  display: inline;
  text-align: center;
  width: 100%;
  
}

header nav a {
   margin: 0px 40px;
  text-decoration: none;
  color: blanchedalmond;
  
}

header img{
  float: left;
  margin-top: 10px;
}
main section:nth-child(2) img {
  margin-right: 25px;
}

main section:nth-child(2) img:nth-child(3) {
  margin-right: 0;
}

main section:nth-child(3)  {
  display: flex;

}
main section div p{
    overflow: scroll;
    width: 430px;
    height: 340px;
}

main section div img{
    margin-right: 30px;
}
footer {
  clear: both;
  padding: 50px 480px;
  background: gray;
}
button{
  border: 0;
  background-color: black;
  color: white;
  padding: 3px 15px;
}
section{
  margin: 30px 0;
}
